/*9快邮*/
.nav ul li.home a.current{
    background-position: -18px -16px;
}
.contentbox{
    background: none;
    border: none;
}
.contentbox_l{
    width: 760px;   
    padding-left: 0px;    
}
.contentbox_r{
    width: 220px;
}
.jky_item{
    width: 220px;
    float: left;
    overflow: visible;
    position: relative;
    background: #fff;
    padding-bottom: 13px;
    margin-right: 16px;
    padding: 10px;
    margin-bottom: 16px;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.08);    
    border: 1px solid #E5E5E5;
}
.jky_item.no_mr{
    margin-right: 0px;
}
.jky_item .img{
    width: 220px;
}
.jky_item h3 i {
    background: url(../images/total_alert.gif) no-repeat 0 -66px;
    display: inline-block;
}
.jky_item .orig {
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 14px;
    width: 14px;
    vertical-align: -2px;
    margin-right: 3px;
}
.jky_item h3 .tao-d {
    width: 28px;
    height: 15px;
    background-position: -167px -66px;
    vertical-align: -3px;
    margin-right: 3px;
}
.jky_item h3 a {
    color: #666;
    font-size: 12px;
}
.jky_item h3 a:hover{
    text-decoration: underline;
}
.jky_item .buy_mask {
    background-color: #000;
    height: 18px;
    left: 10px;    
    opacity: 0.3;
    filter: alpha(opacity=30);
    position: absolute;
    top: 227px;
    width: 220px;
}
.jky_item .buy_state {
    color: #FFF;
    left: 10px;
    position: absolute;
    top: 227px;
    width: 220px;
    height: 18px;
}
.jky_item .buy_action:hover {
    background: url("../images/goods_tag_status.png") no-repeat scroll 0 -42px transparent;
}
.jky_item .buy_action {
    background: url("../images/goods_tag_status.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    width: 220px;
    overflow: hidden;
}
.jky_item .price {
    color: #FFF;
    float: left;
    font: 800 20px "微软雅黑","arial";
    letter-spacing: -2px;
    text-shadow: 0 0 0 transparent, 1px 1px 1px #8A181B;    
    height: 42px;
    line-height: 42px;
}
.jky_item .oldprice_1 {
    color: #FFD988;
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: line-through;
    padding-top: 4px;
    width: 50px;
    overflow: hidden;
}
.new_cmt_list{
    background: #fff;
}
.new_cmt_list .title{
    height: 38px;
    line-height: 38px;
    background: #f9f9f9;
    border-bottom: #f1f1f1 solid 1px;
    padding: 0 15px;
    color: #8d8d8d;
}