a:hover{
    text-decoration: none;
}
.region{
    background: white;
    margin: 10px 0px;
    padding: 10px;
}
/*首页列表*/
#wrap {
	width:980px;
	margin:0 auto;
	position:relative;
}
.sidemenu {
	background-color: white;
	position: fixed;
	top: 30px;
	left: 50%;
	width: 110px;
	margin-left: -613px;
	z-index: 999;
	_position:absolute;
_top:expression(document.compatMode && document.compatMode=='CSS1Compat' ? documentElement.scrollTop:document.body.scrollTop)
}
.sidemenu li sub {
	font-size: 11px;
	bottom:1ex;
}
.sidemenu li {
	height: 33px;
	line-height: 33px;
	font-size: 16px;
	padding-left: 22px;
	border-bottom: 1px solid #DDE0EA;
}
.sidemenu li a {
	font-family:"微软雅黑";
}
.sidemenu li.menu-index, .sidemenu li.menu-login {
	background-color: #21457C;
	text-align: center;
	padding-left: 0px;
	height: 30px;
	line-height: 30px;
}
.sidemenu li.menu-index a, .sidemenu li.menu-login a {
	color:#fff;
}
.sidemenu li.menu-login {
	font-size:14px;
}
.sidemenu li.menu-sub {
	text-align: center;
	padding-left: 0px;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
}
.sidemenu li a:hover {
	color:#f60;
	text-decoration:none;
}
#header {
	background: white;
	margin-bottom: 10px;
}
.topnav {
	background: #21457C;
	font-family:"微软雅黑";
	font-size:14px;
}
.topnav a {
	color:#fff;
}
.topnav-left {
	margin-left: 10px;
	font-weight: bold;
}
.topnav ul li {
	position: relative;
	display: inline;
	float: left;
	cursor: pointer;
	margin: 0;
	padding: 5px 10px;
	height: 20px;
	line-height: 20px;
	color: white;
}
.topnav-right {
	margin-right:10px;
}
.headlogo {
	padding:10px;
}
.headlogo-left {
}
.headlogo-left a {
	display:block;
	width:350px;
	height:60px;
	overflow:hidden;
}
.headlogo-right {
	width:500px;
	height:60px;
	overflow:hidden;
}
.headnav {
	border-bottom:4px solid #21457C;
}
.headnav-left {
	width:150px;
	margin:0 25px;
	position:relative;
}
.headnav-left h3 {
	height:30px;
	line-height:30px;
	font-size:16px;
	background: #F60;
	color: white;
	font-weight:bold;
	text-align:center;
}
.catelist {
	width:146px;
	position:absolute;
	left:0px;
	top:30px;
	text-align: left;
	font-weight: bold;
	font-size: 14px;
	background: #FFF3EC;
	border-right: 2px solid #F60;
	border-bottom: 2px solid #F60;
	border-left: 2px solid #F60;
	padding:5px 0;
	visibility:hidden;
    z-index: 1000;
}
.catelist li {	      
	height:30px;
	line-height:30px;
}
.catelist li a {
    padding-left: 5px;  
	color:#f60;
	font-family:"微软雅黑";
	display:block;
	width:100px;
	margin:0 auto;
}
.catelist li a:hover {
	background:#f60;
	color:#fff;
	text-decoration:none;
}
.headnav-right {
}
.headnav-right li {
	float: left;
	width: 89px;
	height: 30px;
	line-height: 32px;
	overflow: hidden;
	margin:0 0 0 1px;
	display:inline;
}
.headnav-right li a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	background:url(../images/headnav_bg.gif) no-repeat 0 0;
	font-size: 14px;
	text-decoration: none;
	color: #21457C;
	font-family:"微软雅黑";
	font-weight:bold;
}
.headnav-right li.current {
}
.headnav-right li.current a {
	background:url(../images/headnav_bg1.gif) no-repeat;
	color:#fff;
}
.headlink {
	font-size:14px;
	padding:5px 0 0;
}
.headlink dl dt {
	line-height:26px;
	float:left;
	color:#f60;
	font-weight:bold;
	font-family:"微软雅黑";
	margin-left:25px;
}
.headlink dl dd {
	float:left;
}
.headlink dd a {
	display:inline-block;
	height:26px;
	line-height:26px;
	color: #21457C;
	font-family:"微软雅黑";
	margin:0 0 5px 15px;
}
#main {
    margin: 0px 0px 20px 0px;
}
.content {
}
.w668 {
	width:710px;    
}
.c-topbar {
	padding: 0px 19px;
	background: white;
}
.shuoming {
	font-size: 12px;
	color:#333;
}
.c-topbar .shuoming li {
	float: left;
	height: 32px;
	line-height: 32px;
	padding-left: 1px;
}
.c-topbar .hotboard {
	border-top: #CECECE solid 1px;
	font-size: 14px;
	padding: 6px 0px;
	margin: 2px 0px;
}
.c-topbar .hotboard li {
	float: left;
	background:url(../images/li_square.jpg) 0 center no-repeat;
	width: 190px;
	padding: 3px 10px;
	overflow-x: hidden;
}
.c-topbar .hotboard li a {
	color:#06d;
}
.c-topbar .hotboard li a:hover {
	color:#f60;
}
.sticky {
	border-bottom: none;
	background: white;
	padding:9px 19px;
}
.sticky h2 {
	font-size:18px;
	font-weight:normal;
}
.sticky b {
	color:#f60;
}
.productbox {
}
.product {
	padding: 15px 19px 12px 19px;
	background:#fff;
}
.product h2 {
	font-size:24px;
    font-weight: 500;
}
.product h2 a:hover {
	color:#f60;
}
.product h2 span{
    color: #f60;
}
.postmeta {
	margin-bottom:15px;
}
.postmeta span {
	margin-right:5px;
}
.postmeta-icon {
	vertical-align: text-top;
	margin-right: 2px;
}
.postmeta span.comment, .postmeta span.date, .postmeta span.author, .postmeta span.folder {
	background:url(../images/comment.png) no-repeat;
	padding: 0 0 3px 19px;
}
.postmeta span.date {
	background:url(../images/date.png) no-repeat;
}
.postmeta span.author {
	background:url(../images/author.png) no-repeat;
}
.postmeta span.folder {
	background:url(../images/folder.png) no-repeat;
}
.postmeta a:hover {
	color:#f60;
}
.productinfo {
	color:#333;
}
.product-text {
	width: 462px;
	display: inline-block;
	margin: 0px 15px 0px 3px;
	_margin-left: 0px;
    font-size:14px;
    text-indent: 2em;
    line-height: 23px;
}
.product-text p {
	text-indent: 2em;
	margin-bottom: 3px;
	font-size:14px;
}
.product-pic {
	width:150px;
}
.product-pic img {
	width:150px;
}
.postinfo {
	margin-top: 4px;
	height: 28px;
	line-height:28px;
}
.postinfo span.tag {
	background:url(../images/tag.png) no-repeat;
	width: 448px;
	display: inline-block;
	line-height: 14px;
	padding: 0 0 0 19px;
}
.postinfo span.tag a {
	color:#06c;
    margin: 0px 5px;
}
.postinfo span.tag a:hover {
	color:#f60;
}
.postinfo span.quicklink {
	padding-left: 5px;
}
.postinfo span.quicklink a {
	display: inline-block;
	color: white;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 16px;
}
.postinfo span.quicklink a.link-more {
	background: #21457C;
	width: 75px;
}
.postinfo span.quicklink a.link-more:hover {
	color:#f60;
}
.postinfo span.quicklink a.link-gobuy {
	background: #F60;
	width: 71px;
	margin-left: 4px;
}
.postinfo span.quicklink a.link-gobuy:hover {
	color:#06c;
}
.thumblock {
	font-size: 13px;
	padding: 4px 0;
	margin-left:50px;
}
.thumb {
	line-height:28px;
}
.thumblock span {
	margin-left:5px;
	display:inline-block;
}
.thumb a {
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../images/thumbs20.png) no-repeat;
}
.thumb a.good-icon,.thumb a.bad-icon{
    text-indent: 100px;
    overflow: hidden;
}
.thumb a.good-icon {
	background-position:0 0;
}
.thumb a.good-icon:hover {
	background-position:0 -40px;
}
.thumb a.bad-icon {
	background-position:0 -20px;
}
.thumb a.bad-icon:hover {
	background-position:0 -60px;
}
.pinglun {
	padding:5px 0 0;
}
.pinglun a {
	line-height:20px;
	color:#06c;
	font-size:14px;
}
.page {
}
.page a, .page span {
	display:inline-block;
	height:25px;
	line-height:25px;
	border:1px solid white;
	background: white;
	padding:0 5px;
	margin:2px;
	font-weight:bold;
	color:#06c;
}
.page a.current {
	color:#fff;
	background:#06c;
	padding:0 7px;
}
.page a:hover {
	color:#f60;
}
.w300 {
	width:260px;
}
.searchbox {
	padding:5px;
	background:#fff;
}
.search-textbox {
	width: 160px;
	margin: 3px 3px 3px 7px;
	font-weight: normal;
	font-size: 14px;
	background: #EEE;
	border: 1px solid #DDD;
	padding:4px 5px;
}
.search-btn {
	width: 58px;
	text-align: center;
	font-size: 14px;
	padding: 3px 3px;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #DDD;
	background:url(../images/search_btn.jpg) repeat-x;
}
.picks {
	padding:5px;
	background:#fff;
}
.picks dl {
}
.picks dl dt {
	color: #333;
	background-color: #EEE;
	line-height: 150%;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 8px;
	margin-bottom: 5px;
	font-family: "Microsoft YaHei", Verdana, Arial;
}
.picks dl dd {
	padding:5px;
	border-bottom:1px solid #ccc;
}
.picks dl dd:hover {
	background:#eee;
}
.picks a.picks-title {
	width:160px;
	color:#06d;
	font-size:14px;
}
.picks a.picks-title:hover {
	color:#f60;
}
.picks a.picks-pic {
	width:75px;
}
#footer {
	background:#21457C;
	position:relative;
	color:#fff;
}
.bottombar {
	padding:10px;
	background:#21457C;
	border-bottom:1px solid #fff;
	line-height:1.5;
}
.bottombar ul li {
	width:130px;
	float:left;
	margin:10px;
	margin-right:30px;
}
.bottombar ul li a {
	color:#fff;
}
.bottombar ul li h2 {
	background:none;
	margin-bottom:10px;
	padding:0px;
	font-size:20px;
	font-weight:normal;
	font-family:"Microsoft YaHei", Verdana, Arial;
}
.bottombar ul ul li {
	border-bottom:none;
	margin: 0;
	padding: 5px 0;
	border:0;
}
.bottombar ul li.w360 {
	width:360px;
}
.foot {
	padding:15px 8px;
}
/*商城大全*/
.localtion {
	padding:10px 19px;
	background:white;
	font-size:14px;
}
.malltop {
	background:#fff;
	padding: 15px 19px 12px 19px;
}
.malltop h1 {
	padding-bottom: 5px;
	font-size: 28px;
	font-weight: normal;
	color:#2a2a2a;
}
.malltop dl {
	font-size:15px;
}
.malltop dt {
	text-indent:2em;
	margin-top:10px;
}
.malltop dd {
	text-indent:2em;
	padding:25px 0;
}
.malltop dd a {
	color:#06c;
	text-decoration:underline;
}
.malltop dd a:hover {
	color:#f60;
}
.mallnav {
	background:#fff;
}
.mallnav dl {
	padding:10px 0;
	border-bottom:1px dashed #999;
}
.mallnav dt {
	float: left;
	width: 15px;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	color: white;
	background: #999;
	border-right:5px solid #d8d8d8;
}
.mallnav dd {
	margin-left:25px;
}
.mallnav dd div {
	width:90px;
	float:left;
	margin:5px 0 5px 25px;
	display:inline;
}
.mallnav dd a {
	display:block;
	overflow:hidden;
	width:90px;
}
.mallnav-pic img {
	width:90px;
	height:40px;
}
.mallnav-title {
	width: 90px;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	color: #333;
	text-align: center;
	margin-top: 5px;
	overflow: hidden;
	background: #E9E9E9;
}
.mallnav-title:hover {
	color:#c00;
}
.gobuy_button {
	text-align: center;
	background: #F60;
	padding: 4px 6px;
	width: 138px;
	display:inline-block;
	font-size:18px;
	color:#fff;
}
.gobuy_button:hover {
	color:#06c;
}
.hotactivity {
	border:1px solid #000;
	padding:14px 0px 7px;
	box-shadow:#f2f2f2 2px 3px 3px;
	width:100%;
	margin:15px auto 0px auto;
	position:relative;
    background: white;
}
.hotactivity ul {
}
.hotactivity ul li {
	background:url(../images/blackDot.png) no-repeat 8px 11px;
	font-size:12px;
	font-family:Arial, "SimSun ";
	width:45%;
	float:left;
	padding-left:18px;
	line-height:25px;
	height: 25px;
	overflow: hidden;
}
.hotactivity ul li.hotTitle {
	font-family: "Microsoft YaHei", "SimSun";
	padding-left:0px;
	position:absolute;
	left:10px;
	top:-13px;
	width:184px;
	height:25px;
	line-height:25px;
	font-size:18px;
	font-weight:bold;
	color:#444;
	background:url(../images/hot_huodong.png) no-repeat;
	text-align:center;
}
.hotactivity ul li a:hover {
	text-decoration:underline;
}
.J_favs{
    display: inline-block;
    padding-left: 18px;
    background: url("../images/star.png") left center no-repeat;
}
.product_show{
    height: auto !important;
}
.wall_loading{
    font-family: "微软雅黑";
    font-size: 16px;
    margin: 10px 0px;
}
.feature {
	margin:20px 0;
}
.feature h3 {
	background:url(../images/like_maybe.png) 0px -30px no-repeat;
	font-family: "Microsoft YaHei ", "SimSun ";
	height:24px;
	line-height:24px;
	font-size:18px;
	color:#444;
	font-weight:normal;
	padding-left:30px;
}
.feature ul {
	margin-right:-12px;
	padding-top:15px;
}
.feature ul li {
	width:162px;
	float:left;
	margin-right:8px;
	display:inline;
	_margin-right:9px;
}
.feature ul li a.feature_pic {
	width:162px;
	text-align:center;
	display:block;
	border:1px solid #D0E2F2;
}
.feature ul li a.feature_pic:hover {
	border:1px solid #0078B6;
}
.feature ul li a.feature_pic img {
	width:152px;
	height:152px;
	margin-top:4px;
}
.feature ul li div.feature_title {
	text-align:center;
	margin:10px auto;
	line-height:18px;
	height:56px;
	overflow:hidden;
}
.feature ul li div.feature_title a {
	color:#444;
}
.feature ul li div.feature_title a:hover {
	text-decoration:underline;
}
.comments {
}
.comments_head ul {
	height:25px;
	border-bottom:1px solid #E5E5E5;
}
.comments_head ul li {
	float:left;
	text-align:center;
	color:#999;
	cursor:pointer;
	line-height:25px;
	padding:0 2px 0 10px;
	margin-right:4px;
}
.comments_head ul li.commentsicon {
	background:url(../images/commentIcon.png) 0 2px no-repeat;
	padding-left:25px;
	text-align:left;
	font-size:18px;
	color:#333;
	width:65px;
}
.comments_head ul li.currentcom {
	background-color:#E5E5E5;
	border-radius:3px 3px 0 0;
}
.comments_head ul li.currentcom em {
	color:#666;
}
.comments_head ul li.leave_mess {
}
.comments_head ul li.leave_mess a {
	color:#5183C0;
}
.comments_head ul li.leave_mess a:hover {
	text-decoration:underline;
}
.comments_body {
}
.commentspage {
	background:url(../images/commentLine.png) bottom no-repeat;
}
.commentslist {
}
.commentslist li {
	background:url(../images/commentLine.png) center bottom no-repeat;
	margin:10px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:15px;
}
.commentleft {
	width:74px;
	text-align:center;
}
.commentleft span.floor {
	display:block;
	margin-bottom:10px;
	color:#666;
	padding-top:8px;
	height:19px;
}
.commentleft a.commentavatar {
	width:40px;
	height:40px;
	border:1px solid #E5E5E5;
	padding:1px;
	margin:0 auto 10px;
	display:block;
}
.commentleft a.commentavatar img {
	width:40px;
	height:40px;
}
.comment_grade {
}
.commentright {
	width:590px;
}
.commentright .floor {
	margin-bottom:10px;
	color:#666;
	padding-top:8px;
	height:19px;
}
.commentTime {
	width:371px;
	float:left;
	color:#999;
}
.supportbox {
	height:19px;
	line-height:19px;
	padding-bottom:5px;
}
.supportbox .agree, .supportbox .opposition {
	float:right;
	text-align:center;
	color:#5183C0;
	margin-left:10px;
}
.supportbox .agree a, .supportbox .opposition a {
	display:block;
	padding:0 5px;
	color:#5183C0;
	border: 1px solid white;
}
.supportbox .agree a:hover {
	border: 1px solid #dae9f5;
}
.supportbox .opposition a:hover {
	background:#5183C0;
	color:#fff;
}
.commentright .test {
	color:#999;
	height:51px;
	margin-bottom:3px;
}
.commentright .test span.blue {
	float:left;
	width:auto;
	display:block;
	padding-top:3px;
	height:19px;
	line-height:19px;
	font-weight:bold;
}
.commentright .test p {
	line-height:26px;
	color:#666;
}
.malltop ul{
    margin-left: 50px;
}
.malltop li{
    float: left;
    font-size: 16px;
}
.businesinfo {
	padding:20px;
	overflow:hidden;
    background: white;
}
.businesinfo a.businessinfo_logo {
	display:block;
	border:1px solid #e5e5e5;
	width:186px;
	height:120px;
	text-align:center;
}
.businesinfo a.businessinfo_logo:hover {
	border:1px solid #C7DCEF;
}
.businesinfo a.businessinfo_logo img {
	margin-top:15px;
}
.businessinfo_text {
	width:735px;
	padding-top:10px;
	line-height:21px;
}
.businessinfo_text h3 {
	font-family:Arial, "Microsoft YaHei ", "SimSun ";
	font-size:18px;
	color:#333;
	font-weight:normal;
	margin-bottom:15px;
}
.businessinfo_text span.businessinfo_icon, .businessinfo_text span.businessinfo_icon1 {
	display:inline-block;
	height:22px;
	background:url(../images/businessinfo_icon.png) no-repeat 0 5px;
	padding-left:18px;
	overflow:hidden;
	width:62px;
	vertical-align:top;
}
.businessinfo_text span.businessinfo_icon1 {
	background:url(../images/businessinfo_icon.png) no-repeat 0 -22px;
}
.businessinfo_textinfo {
	width:660px;
}
.businessinfo_text a:hover {
	text-decoration:underline;
}
.businessinfo_text p em {
	color:#999;
	display:inline-block;
	width:640px;
}
.featured_pro {
	background:#F0F6FB;
	height:35px;
	line-height:35px;
	padding:0 15px;
}
.featured_pro h3 {
	font-family:Arial, "Microsoft YaHei ", "SimSun ";
	font-size:18px;
	color:#333;
	font-weight:normal;
}
.featured_pro a {
	color:#0078B6;
}
.featured_pro a:hover {
	text-decoration:underline;
}
.featuredbox {
	_margin:0 -20px 0 0;
	overflow:hidden;
}
.featured {
	border:5px solid #fff;
	border-radius:5px;
	margin:20px 5px 0 5px;
	width:225px;
	float:left;
	_margin:20px 20px 0 0;
}
.featured:hover {
	border:5px solid #EFF6FC;
	border-radius:5px;
}
.featuredbox .product:hover {
	border:1px solid #C7DCEF;
}
.featuredbox .product {	
	border:1px solid #E5E5E5;
	border-radius:2px;
	overflow:hidden;
    padding: 0px;
}
.featuredbox .product .ilike {	
	height:31px;
	overflow:hidden;
	line-height:28px;
}
.featuredbox .product .ilike a {
	height:31px;
	display:inline-block;
	width:49px;
	background:url(../images/icon_1.png) 35px 8px no-repeat #f2f2f2;
	padding-left:60px;
	color:#5183C0;
}
.featuredbox .product .ilike a:hover {
	color:#FFF;
	background:url(../images/boxCollectHover.png) 35px 8px no-repeat #5183C0;
}
.featuredbox .product .ilike a.ilike_icon2 {
	background:url(../images/icon_2.gif) 35px 8px no-repeat #f2f2f2;
}
.featuredbox .product .ilike a.ilike_icon2:hover {
	background:url(../images/boxCommentHover.png) 35px 8px no-repeat #5183C0;
}
.featuredbox .product .pro_img {
	text-align:center;
}
.featuredbox .product .pro_img a.proimg_pic {
	text-align:center;
	margin-bottom:4px;
	overflow:hidden;
}
.featuredbox .product .pro_img a.proimg_pic img {
	width:210px;
	height:200px;
}
.featuredbox .product .zhida a {
	text-align:left;
	background:none;
	display:block;
	height:35px;
	line-height:21px;
	font-size:12px;
	overflow:hidden;
	padding:5px 15px 10px 15px;
	letter-spacing:normal;
}
.featuredbox .product .zhida a:hover {
	color:#5183C0;
	text-decoration:underline;
}
.feature_list{
    background: white;
    margin: 20px 0px;
}
.J_wall_none {
    height: 35px;
    line-height: 35px;
    font-size: 24px;
    font-family: "微软雅黑";
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 684px;
}
.product_show {
    padding-bottom: 40px;
}
.con_title {
	background: url(../images/mainShowBg.png) 0px bottom no-repeat;
	width: 635px;
	font-family: "微软雅黑", "黑体";
	margin-bottom: 25px;
	line-height: 1.6em;
	clear: both;
	padding: 0 30px 20px 19px;
}
.con_title span {
	font-size: 18px;
}
.login_form {
	width: 620px;
	margin: 0px auto 100px auto;
	padding: 40px 12px 15px;
	font-weight: normal;
	background: #fff;
	display: block;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
}
.login_form .line span {
	color: #555;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	width: 106px;
	text-align: right;
	float: left;
	padding-right: 5px;
	font-family: "宋体";
	display: inline;
}
.login_form .line {
	clear: both;
	height: 50px;
}
.login_form .input_text {
	font-size: 20px;
	width: 240px;
	float: left;
	overflow: hidden;
	padding: 3px;
	margin: 0px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	-moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
}
.submit {
	font-weight: bold;
	color: white;
	background: url(../images/button-grad.png) repeat-x scroll left top;
	text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
	border-width: 0px;
	text-decoration: none;
	font-size: 12px!important;
	line-height: 13px;
	padding: 5px 15px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.captcha_img {
	margin-top: 5px;
	margin-left: 10px;
}
.ot_login {
	margin-left: 100px;
}
.ot_login span {
	line-height: 35px;
}
.ot_login .ot_btn a {
	margin-right: 10px;
}
#login_error {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	background-color: #FFEBE8;
	border-color: #C00;
	padding: 25px 12px 15px;
	width:440px;
	margin: 100px auto;
	text-align: center;
}
#login_success {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	background-color: #f0f6fb;
	border-color: #CCC;
	padding: 25px 12px 15px;
	width:440px;
	margin: 100px auto;
	text-align: center;
}

.loginNotice {
	background: url(../images/noticeBg.png) no-repeat;
	width: 410px;
	height: 200px;
	padding: 10px 0 0 236px;
	margin: 0 auto 40px;
}
.fontTitle {
	font-family: Arial, "Microsoft YaHei", "SimSun";
	font-size: 18px;
	color: #333;
}
ul.perNotice li {
	background: url(../images/noticeCheck.png) no-repeat 0 3px;
	padding: 0 0 0 20px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #111;
}
ul.perNotice li.iconNone {
	background-image: none;
	margin-bottom: 0;
}
.loginNotice .fontTitle {
	color: #555;
	margin-bottom: 10px;
	line-height: 1.6em;
}
.loginBoxRel {
	float: right;
	background: url(../images/white-grad.png) repeat-x scroll left top;
	font-size: 12px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-border-radius: 11px;
	width: 46px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.loginBoxRel a {
	display: block;
	border: 1px solid #BBB;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-border-radius: 11px;
}
.base-input, .base-txa {
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	height: 22px;
	padding: 4px;
	width: 220px;
}
.form-row label {
	color: #666666;
	float: left;
	font-size: 14px;
	line-height: 32px;
	text-align: right;
	vertical-align: middle;
	width: 70px;
}
.form-row {
	margin: 0 0 20px;
}
.loginbtn ul {
	visibility:hidden;
	width:90px;
	border:1px solid #a9aaae;
	border-top:none;
	background-color:#fff;
	padding:3px;
	border-radius:2px;
	position:absolute;
	left:31px;
	top:31px;
	z-index:1000;
	display:block;
}
.login ul li {
	height:23px;
	line-height:23px;
	padding:2px 0 2px 25px;
	border-bottom:1px solid #e5e5e5;
	background-repeat: no-repeat;
	background-position: left center;
}
.login ul li a {
	font-size:12px;
}
.login ul li a:link, .login ul li a:visited {
	color:#333;
}
.login ul li a:hover, .login ul li a:active {
	color:#5183C0;
}
.login ul li.dsfdl {
	font-size:12px;
	background-color:#f5f5f5;
	padding-left:0px;
	text-align:center;
}
.pageConBox {
	padding: 10px;
}
.pageConBox p {
	line-height: 1.9em;
	padding: 0 0 0 15px;
	margin: 0px 0px 20px 0px;
	color: #555;
	font-size: 13px;
}
.mainTableBox {
	margin: 0px auto 20px auto;
	padding: 0px 12px 0px;
	font-weight: normal;
	background: #fff;
	display: block;
	border: 1px solid #e5e5e5;
	-moz-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	-webkit-box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	box-shadow: rgba(200, 200, 200, 0.7) 0 4px 10px -1px;
	overflow: hidden;
	width: 651px;
}
.mainTableBox input.text {
	font-size: 13px;
	padding: 8px;
	margin: 0px;
	border: 1px solid #e5e5e5;
	background: #fbfbfb;
	-moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
	outline: none;
	color: #aeaeae;
}
.mainTableBox textarea {
	height: 120px;
	font-size: 13px;
	padding: 8px;
	line-height: 1.6em;
	resize: none;
	background-color: #FBFBFB;
	border: 1px solid #e5e5e5;
	outline: none;
	color: #aeaeae;
}
.mainTableBox td {
	padding: 13px 0 0;
	font-size: 13px;
}
.help {
	background: white;
	padding: 20px;
}
.help_tree {
	border: 1px solid #e9e9e9;
	float: left;
	width: 190px;
}
.help_tree .title {
	font-family: "微软雅黑", "黑体", sans-serif;
	background: #f6f8f9;
	border-bottom: 1px solid #E6E6E6;
	color: #666;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 23px;
}
.help_tree li a {
	background: #fff;
	height: 33px;
	line-height: 35px;
	padding: 0 0 0 23px;
	/*width: 190px;*/
    margin-left: 0px;
	color: #666;
	font-size: 14px;
	text-indent: 22px;
	display: block;
}
.help_tree li a.curr {
	background: url('../images/help_title.jpg') no-repeat;
	width: 180px;
	color: white;
	font-weight: bold;
}
.help .content {
	width: 730px;
}
.help .help_title {
	color: #555555;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	padding: 0px 5px 0 15px;
	font-family: "微软雅黑", "宋体", sans-serif;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.main_title {
	color: #555555;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	padding: 0px 5px 0 15px;
	font-family: "微软雅黑", "宋体", sans-serif;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
.form-row label {
	color: #666666;
	float: left;
	font-size: 14px;
	line-height: 32px;
	text-align: right;
	vertical-align: middle;
	width: 70px;
}
.form-row {
	margin: 0 0 20px;
}
.bd_info {
	width: 700px;
	margin-left: 50px;
}
.tipbox2 {
	position:absolute;
	width: 270px;
	height: 102px;
	z-index: 1000;
}
.tipbox2.error {
	background: url(../images/tipbox_error.png) no-repeat;
}
.tipbox2.success {
	background: url(../images/tipbox_success.png) no-repeat;
}
.tipbox2 .close {
	position: absolute;
	right: 10px;
	top: 5px;
	display: block;
}
.tipbox2 .close:hover {
	color: #bc0202;
}
.tipbox2 .content {
	padding: 20px 0px 0px 80px;
	height: 50px;
	line-height: 40px;
	font-weight: bold;
	text-align: left;
	font-size: 14px;
	color: #333;
}
.tipbox2 .url {
	height: 35px;
	line-height: 35px;
	padding: 0px 10px;
	text-align: right;
}
.tipbox2 .url a {
	margin: 0px 5px 0px 0px;
	color: #5183C0;
}
.messagebox_head {
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
	margin:25px 0;
}
.messagebox_head h3 {
	font-family:Arial, "Microsoft YaHei ", "SimSun ";
	background:url(../images/messageIcon.png) 0 3px no-repeat;
	font-size:18px;
	color:#333;
	font-weight:normal;
	padding-left:25px;
}
.messagebox_body {
}
.messageleft {
	width:60px;
	text-align:center;
}
.messageleft a.commentavatar {
	width:40px;
	height:40px;
	border:1px solid #E5E5E5;
	padding:1px;
	margin:0 auto 10px;
	display:block;
}
.messageleft a.commentavatar img {
	width:40px;
	height:40px;
}
.messageright {
	width:580px;
}
.smile {
	height:30px;
}
.smile a {
	display:inline-block;
	margin-right:5px;
}
.textareabox {
	width:550px;
	height:56px;
	padding:12px;
	border-radius:5px;
	color:#666;
	font-size:12px;
	border:1px solid #D9D9D9;
	resize:none;
}
.textareabox:hover {
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.exitbox {
	color:#666;
	height:25px;
	line-height:25px;
	padding:5px 0 40px;
}
.exitbox_l {
}
.exitbox_l a {
	color:#5183C0;
}
.exitbox_l a:hover {
	text-decoration:underline;
}
.exitbox .checkboxbtn {
	vertical-align:-2px;
	margin:0 3px 0 0;
}
.submit_btn {
	background:url(../images/submitBg.png) no-repeat;
	color:white;
	text-align:center;
	width:51px;
	height:22px;
	border:none;
	float:right;
	margin-left:60px;
	cursor: pointer;
}